body{
    font-family: 'Poppins', sans-serif;

}
h1{
    font-size: 50px;
}
span{
    color: orange;
}
section{
    display: flex;
}
.half{
    width: 50%;
    padding-left: 5%;
}
.half img{
    width: 80%;
}
.link{
    text-decoration: none;
    background-color:tomato;
border:1px solid white ;
    border-radius:5px ;
    padding:3px 10px

    
}